<!DOCTYPE html>
<head>
	<script src="//use.edgefonts.net/basic.js"></script>
	<script src="//use.edgefonts.net/alex-brush;muli;droid-sans.js"></script>
	<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/108454911/kdagroup.css"/>
	<script src="https://dl.dropboxusercontent.com/u/108454911/jquery-1.11.1.min.js"></script> 
	<script src="https://dl.dropboxusercontent.com/u/108454911/kdagroup.js"></script>

</head>

<div id="header">
<img id="logo" src="https://dl.dropboxusercontent.com/u/108454911/FotoFlexer_Photo.png"/>
</div>
<div id="head">
<nav id="navigation">
<ul>
	<li><a href='/kdagroup'>Home</a></li>
	<li><a href='/consulting'>Consulting</a></li>
	<li><a href='/personal'>Personal Taxes</a></li>
	<li><a href='/business'>Business Taxes</a></li>
	<li><a href='/contact'>Contact</a></li>
	<li><a href="https://dbinbox.com/kdafinancial">Upload Files<a/></li>
</ul>
<img a href= "www.google.com" id="paypal2" src="https://dl.dropboxusercontent.com/u/108454911/paypal.png"/>
</nav>
</div>

<div id="serving">
Serving Salt Lake and Utah Counties
</div>

<iframe id="calendar" src="https://www.google.com/calendar/embed?src=testcalendarapp2014%40gmail.com&ctz=America/Denver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>


</body>
</html>