<!DOCTYPE html>
<head>
	<script src="//use.edgefonts.net/basic.js"></script>
	<script src="//use.edgefonts.net/alex-brush;muli;droid-sans.js"></script>
	<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/108454911/kdagroup.css"/>
	<script src="https://dl.dropboxusercontent.com/u/108454911/jquery-1.11.1.min.js"></script> 
	<script src="https://dl.dropboxusercontent.com/u/108454911/kdagroup.js"></script>	
</head>
<div id="header">
<img id="logo" src="https://dl.dropboxusercontent.com/u/108454911/FotoFlexer_Photo.png"/>
</div>
<div id="head">
<nav id="navigation">
<ul>
	<li><a href='/kdagroup'>Home</a></li>
	<li><a href='/consulting'>Consulting</a></li>
	<li><a href='/personal'>Personal Taxes</a></li>
	<li><a href='/taxes'>Business Taxes</a></li>
	<li><a href='/contact'>Contact</a></li>
</ul>
<img a href= "www.google.com" id="paypal" src="https://dl.dropboxusercontent.com/u/108454911/paypal.png"/>
</nav>
</div>

<body>

<div id="landingtext">
<h2>What We Do</h2>
<span id="description">KDA Consulting is an accounting firm located in Lehi, Utah.  We handle the following accounting functions: bookkeeping, payroll, business setup, and taxes. We do not lock you in to any long term service contract and our main focus is helping your business succeed.</span>
<img id="facebookicon" src="https://dl.dropboxusercontent.com/u/108454911/facebookicon.png"/>
<img id="pinterest" src="https://dl.dropboxusercontent.com/u/108454911/pinteresticon.png"/>
</div> 

<div id="accounting">
<img src="https://dl.dropboxusercontent.com/u/108454911/saltlakeskyline.png"/>
</div>

<div id="serving">
Serving Salt Lake and Utah Counties
</div>

<div id="appointment">
<p>Schedule an Appointment</p>
<a href="https://dbinbox.com/kdafinancial">
<img id="dropbox" a href="https://dbinbox.com/kdafinancial"
 src="https://dl.dropboxusercontent.com/u/108454911/MetroUI-Apps-Dropbox-icon.png"/>
</a>
</div>

<div id="uploadfiles">
<p>Upload Files</p>
</div>


<div id="footerbox">
<p id="text">2014 KDA Financial  |  3300 West Pilgrims Loop Rd.  |  Lehi, UT 84043</p>
</div>
</body>

</html>