<!DOCTYPE html>

<head>
<title>Home Page | KDA Financial</title>
<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/108454911/kdagroup2.css"/>
<script src="//use.edgefonts.net/alex-brush;muli;droid-sans.js"></script>
<link href="https://dl.dropboxusercontent.com/u/108454911/hover.css" rel="stylesheet" media="all">
</head>

<body>
	<div id="headleft">
	<img id="logo" src="https://dl.dropboxusercontent.com/u/108454911/kdalogo2.png"/>
	<div id="headright">
		<div id="number">
		<span>Contact: 801-555-5555</span>
		</div>
		<div id="navbar">
		<ul>
			<li><a href='/kdagroup' class="float">Home</a></li>
			<li><a href='/consulting' class="float">Consulting</a></li>
			<li><a href='/bookkeeping' class="float">Bookkeeping</a></li>
			<li><a href='/taxes' class="float">Taxes</a></li>
			<li><a href='/contact' class="float">Contact</a></li>
		</ul>
		
	</div>
	
<div id="divider">
</div>

<div id="mainbody">

<h2 id="what">What We Do<h2></br>

<div id="bodytext">
KDA Consulting is an accounting firm located in Lehi, Utah. We do not lock you in to any long term service contract and our main focus is helping your business succeed.
</div>

<div id="spacebar">
</div>
</div>






<div id="paynow">
<img src="https://dl.dropboxusercontent.com/u/108454911/paypal.png"/>
</div>

<div id="facebookicon">
<img src="https://dl.dropboxusercontent.com/u/108454911/facebookicon.png"/>
</div>
<div id="pinterest">
<img src="https://dl.dropboxusercontent.com/u/108454911/pinteresticon.png"/>
</div>

</body>

</html>